footer {
    text-align: center;
    background-color: #24316f;
    height: 60px;
}

section {
    color: white;
    margin-bottom: 0%;
    height: 0px;
    padding-top: 12px;
}

/* 
.details{
    margin-top:"2%";
 } */