<footer>
    <section class="details">
    <section fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <section fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxflex>
            <mat-icon>email</mat-icon>
        </div>
        <p>team.metrix.stackroute@gmail.com</p>
    </section>
    <section fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <div fxflex>
                    &copy;
            </div>
            <p>Copyright 2019 metrix-dev.stackroute.io</p>
        </section>
        </section>
    </section>
 </footer>

  