.headings {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
 }
 .text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: grey;
 }
 .main-heading {
  margin-left: 45%;
  font-family: 'Open Sans', sans-serif;
 }
 .issuer {
  margin-left: 36%;
  cursor: pointer;
 }
 .rules {
  margin-left: 36%;
  cursor: pointer;
 }
 .badges {
  margin-left: 15%;
  cursor: pointer;
 }
 .accountprofile {
  margin-left: 15%;
  cursor: pointer;
 }
 .pipeline {
  margin-left: 15%;
  cursor: pointer;
 }
 a.fill-div {
  text-decoration: none;
  color: black;
 }
 .example-card {
  max-width: 1000px;
}
.graph{
  margin-top: 50px;
}
.cardcontainer {
  margin-top: 4%;
  margin-bottom: 7%;
}
.mat-card-header .mat-card-title {
  margin-bottom: 15px;
  font-size: 51px;
  text-align: center;
}
.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  border-radius: 4px;
  padding: 7px 0px;
}
.mat-card-header .mat-card-subtitle:not(:first-child) {
  margin-top: -17px;
  font-size: 20px;
  color: rgba(0, 0, 0, .54);
  font-weight: 500;
  text-align: center;
  margin-bottom: 0em;
}
.issuericon {
  display: inline-block;
  font-size: 50px;
  color: #32CD32;
  margin-bottom: 0.7em;
}
.tuneicon {
  display: inline-block;
  font-size: 50px;
  color:#DC143C;
  margin-bottom: 0.7em;
}
.dataicon {
  display: inline-block;
  font-size: 50px;
  color:#00FFFF;
  margin-bottom: 0.7em;
}
.badgeicon {
  display: inline-block;
  font-size: 50px;
  color:	#FFD700;
  margin-bottom: 0.7em;
}
.spinner {
  left: 50%;
  margin-left: -4em;
}
.datepicker {
  margin-left: 30%;
}
.graphButton {
  margin-left: 5%;
}
.statcards {
  margin-top :1em;
  min-width: 230px; 
}
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
  .graphButton {
    margin-left: 5%;
  }
  .statcards {
    margin-top :1em;
    min-width: 130px; 
  }
}