.body {
    margin-left: 10%;
    margin-right: 18%;
 }.left p {
    text-align: center;
 }.orgName {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 500;
 }
 .notOrgName {
    margin-block-start: 0;
    color: #7a7a7a;
    font-size: small;
    letter-spacing: 1px;
 }
 p {
    font-size: 1.1em;
 }
 img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
 }
 .mat-h4 {
    color: #7a7a7a;
 }
 .heading {
    margin-top: 2%;
    font-weight: bold;
 }
 .description {
    margin-left: 9%;
 }
 .view {
    margin-left: 8%;
 }
 .data {
    margin-top: 2%;
 }
 .mat-h1 {
    font-weight: bold;
 }
 .orgurl,
 .email {
    height: 2px;
    color: #3d3d29;
 }
.orgemail{
   margin-right:1%;
}
 h1{
    text-align: justify;
 }
 
 
