HELP.md
.mvn/
m2/
target/
.metadata/
.classpath
bin/
.settings/
.project
mvnw
lib/
mvnw.cmd
.attach?
!**/src/main/**
!**/src/test/**
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### Dependencies ###
**/m2
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### VS Code ###
.vscode/
/.metadata/
