<section class="formbody" fxLayout="row" fxLayoutAlign="center center">
    <section class="form-data">
        <!-- adding all issuer details -->

        <h1 mat-dialog-title>ISSUER DETAILS</h1>

        <form [formGroup]="issuerForm">
            <section class="formIssuer" fxLayout="column" fxLayoutAlign="space-between center">
                <section *ngIf="!display()" class="avatar">
                    <img alt="upload photo" src="../../../../assets/images/issuer.png">
                </section>
                <section *ngIf="display()" class="avatar">
                    <img *ngIf="imgURL" [src]="imgURL" alt="The path entered is incorrect" height="100">

                </section>
                <mat-form-field class="fieldWidth">
                    <mat-label class="mat-body">Issuer Avatar URL</mat-label>
                    <input (change)="onURLinserted()" [(ngModel)]="imgURL" formControlName="issuerAvatarURL" matInput name="imgURL" placeholder="Issuer Image URL" type="URL">
                </mat-form-field>


                <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">

                    <mat-form-field>
                        <mat-label class="mat-body">Issuer Name</mat-label>
                        <input formControlName="issuerName" matInput placeholder="Issuer Name">
                        <mat-error *ngIf="issuerForm.get('issuerName').errors?.required && issuerForm.get('issuerName').touched" class="mat-small">
                            Please enter Issuer Name
                        </mat-error>
                        <mat-error *ngIf="issuerForm.get('issuerName').hasError('pattern')" class="mat-small">Please enter alphabates only
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label class="mat-body">Issuer Email</mat-label>
                        <input formControlName="issuerEmail" matInput placeholder="Issuer Email">
                        <mat-error *ngIf="issuerForm.get('issuerEmail').errors?.required && issuerForm.get('issuerEmail').touched" class="mat-small">
                            Please enter issuerEmail id
                        </mat-error>
                        <mat-error *ngIf="issuerForm.get('issuerEmail').hasError('pattern')" class="mat-small">Please enter valid Email address
                        </mat-error>
                    </mat-form-field>
                </section>
            </section>
            <section>
                <mat-form-field class="fieldWidth">
                    <mat-label class="mat-body">Issuer Organisation URL</mat-label>
                    <input formControlName="issuerOrganizationURL" matInput placeholder="Issuer Organisation URL">
                    <mat-error *ngIf="issuerForm.get('issuerOrganizationURL').errors?.required && issuerForm.get('issuerOrganizationURL').touched" class="mat-small">
                        Please enter organisation URL.
                    </mat-error>
                    <mat-error *ngIf="issuerForm.get('issuerOrganizationURL').hasError('pattern')" class="mat-small">Please enter valid URL.
                    </mat-error>
                </mat-form-field>
            </section>
            <section fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1px">

                <mat-form-field appearance="outline" class="fieldWidth">
                    <mat-label class="mat-body">Issuer Description</mat-label>
                    <textarea #input maxlength="300" formControlName="issuerDescription" matInput placeholder="Issuer Description" rows=2>
                                </textarea>
                    <mat-hint class="mat-caption">{{input.value?.length || 0}}/300</mat-hint>
                    <mat-error *ngIf="issuerForm.get('issuerDescription').errors?.required && issuerForm.get('issuerDescription').touched" class="mat-small">
                        Please enter description.
                    </mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline" class="fieldWidth">
                    <mat-label class="mat-body">Issuer Profile Objective</mat-label>
                    <textarea #inputObj maxlength="200" formControlName="profileObjective" matInput placeholder="Issuer Profile Objective" rows=2>
                                </textarea>
                    <mat-hint class="mat-caption">{{inputObj.value?.length || 0}}/200</mat-hint>
                    <mat-error *ngIf="issuerForm.get('profileObjective').errors?.required && issuerForm.get('profileObjective').touched" class="mat-small">
                        Please enter objective.
                    </mat-error>
                </mat-form-field>

            </section>


            <section class="buttons" mat-dialog-actions>
                <!-- On cancel redirects to issuer profile view -->
                <button mat-button color="warn" (click)="onClose()">Cancel</button>
                <!-- On form submit it will redirect to issuer profile view -->
                <button mat-raised-button cdkFocusInitial color="primary" (click)="formSubmit()" [disabled]="!issuerForm.valid" *ngIf="!updateData">Submit</button>
                <button mat-raised-button cdkFocusInitial color="primary" (click)="formUpdate()" [disabled]="!issuerForm.valid" *ngIf="updateData">Update</button>
            </section>
        </form>
    </section>
</section>