<mat-icon (click)="closeModal()" class="clear">clear</mat-icon>
<div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="2%">
  <mat-dialog-content>
    <h2 style="text-align:center" class="mat-h2">Join Metrix</h2>
    <!---For Gitlab login-->
    <section>
      <a (click)="closeModal()" href="/user/api/v1/gitlablogin">
        <button class="sign-in-gitlab" color="primary" mat-raised-button><img class="gitlab"
            src="../../../assets/images/gitlab.png">&nbsp; Sign in with
          Gitlab
        </button>
      </a>
    </section>
    <!------>

    <!----For google login-->
    <section>
      <a (click)="closeModal()" href="/user/api/v1/googlelogin">
        <button class="sign-in-google" mat-raised-button><img class="gitlab"
            src="../../../assets/images/google.jpg">&nbsp; Sign in with
          Google
        </button>
      </a>
    </section>
    <!------>


  </mat-dialog-content>
</div>
